//===================================================
//
//              MAIN SCSS
//
//===================================================
:root {
  --dark-bg-color: #222222;

  // Font-size color
  --dark-hx-color: dark;
  --dark-a-color: white;
  --dark-mark-color: #FFEC51;
  --dark-btn-color: #FFEC51;

  // Responsive font-size
  --fs-xl: 2.5rem;
  --fs-l: 1.75rem;
  --fs-m: 1.25rem;
  --fs-s: 1.1rem;
}

