<nav id="navContainer" class="nav__container">
    <a href="/" class="hvr-grow">
        <i class='bx bx-home-alt'></i>
        <h1>Accueil</h1>
    </a>
    <a href="/game" class="hvr-grow">
        <i class='bx bx-game'></i>
        <h1>Jeu</h1>
    </a>
    <a href="/statistics" class="hvr-grow">
        <i class='bx bx-data'></i>
        <h1>Statistiques</h1>
    </a>
    <a href="/wiki" class="hvr-grow">
        <i class='bx bx-spreadsheet' ></i>
        <h1>Wiki</h1>
    </a>
</nav>